<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_FILE_NAME" value="${java.io.tmpdir}/cric-score-updater.log" />
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <appender name="ROLLIN" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_FILE_NAME}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

            <!-- daily rollover -->
            <fileNamePattern>${LOG_FILE_NAME}.%d{yyyy-MM-dd}.log
            </fileNamePattern>

            <maxHistory>3</maxHistory>
            <totalSizeCap>50MB</totalSizeCap>

        </rollingPolicy>

        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>

    </appender>

    <root level="INFO">
        <appender-ref ref="ROLLIN" />
    </root>

    <logger name="org.springframework.web" level="INFO" />
    <logger name="com.github.cric" level="DEBUG" />

</configuration>